.body{
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.carrossel{
    background-color: #fff;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 300px;
}

.img{
    width: 600px;
    height: 300px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    font-size: 18px;
    color: #000;
}